<style>

</style>

<h1>Demo</h1>
<button (click)="getTasks()">Get All</button>
<div>
        <form class="form-horizontal" [formGroup]="formPost" (ngSubmit)="onSubmitPost(formPost)">
                <input type="textarea" placeholder="Task Description" formControlName="description" />
                <input type="textarea" placeholder="Task Resposible" formControlName="responsible" />
                <button type="submit" [disabled]="formPost.invalid">Post</button>
        </form>
</div>

<div>
        <form class="form-horizontal" [formGroup]="formGet" (ngSubmit)="onSubmitGet(formGet)">
        <input type="textarea" placeholder="Task ID" formControlName="id" />
        <button type="submit" [disabled]="formGet.invalid">GetOne</button></form>
</div>

<div>
        <form class="form-horizontal" [formGroup]="formPatch" (ngSubmit)="onSubmitPatch(formPatch)">
        <input type="textarea" placeholder="Task ID" formControlName="id" />
        <input type="textarea" placeholder="Task Description" formControlName="description" />
        <input type="textarea" placeholder="Task Responsible" formControlName="responsible" />
        <button type="submit" [disabled]="formPatch.invalid">Patch</button></form>
</div>

<div>
        <form class="form-horizontal" [formGroup]="formDelete" (ngSubmit)="onSubmitDelete(formDelete)">
        <input type="textarea" placeholder="Task ID" formControlName="id" />
        <button type="submit" [disabled]="formDelete.invalid">Delete</button></form>
</div>


<p>Tasks</p>
<p>{{ tasks$ | async | json }}</p>
<br>
<br>